body {
	background-color: cornflowerblue;
	background-image: url(aku.jpg);
	background-position: top left;
}
/* website subtlepatterns.com */

h1 {
	color: black;
	text-decoration: underline;
	font-size: 75px;

}