h1 {
	font-family: arial, sans-serif, verdana, serif;
	font-size: 100px;
	font-weight: normal;
	font-variant: small-caps;
	font-style: italic;
	text-transform: lowercase;
}

p {
	font-family: georgia, serif;
	line-height: 25px;
	text-un
}